SLACK_BOT_TOKEN=your-slack_bot_token
SLACK_SIGNING_SECRET=your-slack_signing_secret
ZEN_IMAGE_GEMINI_API_KEY=your-zen_image_gemini_api_key
NPM_AUTH_TOKEN=your-npm_auth_token
MUX_API_KEY=your-mux_api_key
GEMINI_API_KEY=your-gemini_api_key
OPENAI_API_KEY=your-openai_api_key
MUSIC_AI_API_KEY=your-music_ai_api_key
